@model List<EFGetStarted.AspNetCore.ExistingDb.Models.ModulesByClassYear>


<table class="ClassOfTable">
    <thead>
        <tr>
            <th>
                Course Id
            </th>
            <th>
                Course Title
            </th>
            <th>
                Class Of
            </th>
            <th>
                Media Catalog Id
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassYear)
                </td>
                <td>
                    @*<input asp-for="@modelItem => item.MediasiteCatalogId" />*@
                    @Html.DisplayFor(modelItem => item.MediasiteCatalogId)
                </td>

                <td>
                    | <a asp-action="Edit" asp-controller="ModuleLists" asp-route-id="@item.Id">Edit</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
