@model EFGetStarted.AspNetCore.ExistingDb.Models.ModuleList

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ModuleList</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ModuleDisplayName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModuleDisplayName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AcademicYear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AcademicYear)
        </dd>
        <dt>

        <dt>
            @Html.DisplayNameFor(model => model.MediasiteCatalogId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MediasiteCatalogId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ModuleId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
