@model IEnumerable<LET.Panopto.Scheduler.Models.PageList>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Folder.FolderDisplayName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PageDisplayName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PageStartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PageEndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Folder)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Folder.FolderDisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PageDisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PageStartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PageEndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Folder.FolderId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PageId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PageId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PageId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
