@model EFGetStarted.AspNetCore.ExistingDb.Models.EventSession

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>EventSession</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SessionCourseName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SessionCourseName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SessionEventName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SessionEventName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SessionDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SessionDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SessionStartDateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SessionStartDateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SessionEndDateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SessionEndDateTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
